
/* Table of Contents 

1 Global Syle 



*/



/*
****************************
*
*    1. Global Style
****************************
*/


/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/


.vertical-nav {
	min-width: 7rem;
	width: 17rem;
	height: 100hv;
	position: fixed;
	top: 10;
	left: 0;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
	transition: all 0.4s;
  }
  
  .page-content {
	width: calc(100% - 17rem);
	margin-left: 17rem;
	transition: all 0.4s;
  }
  
  /* for toggle behavior */
  
  #sidebar.active {
	margin-left: -17rem;
  }
  
  #content.active {
	width: 100%;
	margin: 0;
  }
  
  @media (max-width: 768px) {
	#sidebar {
	  margin-left: -17rem;
	}
	#sidebar.active {
	  margin-left: 0;
	}
	#content {
	  width: 100%;
	  margin: 0;
	}
	#content.active {
	  margin-left: 17rem;
	  width: calc(100% - 17rem);
	}
  }
  

/* Blog Posts  */

body {
  min-height: 75rem;
  padding-top: 3.0rem;
}

.form-contact{
	margin-top: 0px;
	margin-left: 500px;
	margin-right: 100px;

}

.container{
	margin-top: 10;
	padding-top: 10;
	margin-left: all;
	margin-right: auto;
} 


.container img {
    width: 70%;
    height: 70%;
} 

.container-fluid{
	margin-top: 60px;
	padding: 10px;

}

.jumbotron{
	float: center;
	margin-top: 10px;
  	margin-left: 400px;
  	margin-right: 10px;
  	background: #ffffff;
}	


.display4 {
 	font-size: 40px;
 	font-weight: bold;
 	font-variant: small-caps;
}

.lead {
	font-size: 16px;
 	font-weight: bold;
 	opacity: 50%	
}


.my-text {
	font-size: 20px;
	text-align: justify-all;
  
}

figure{
	display: table;
	min-width: 300px;
	min-height: 300px;
}

.figcaption{
	display: table-caption;
	caption-side: top;
	font-size: 16px;
 	font-weight: initial;
 	opacity: 50%
 	text-decoration: all;	


}


code {
    background-color: #eee;
    border-radius: 3px;
    font-family: courier, monospace;
    padding: 0 3px;
}



/***********************

Buton


**************/
#btnSearch{
	display: inline-block;
	vertical-align: top;
	margin-right: 400px;
}
#btnPrint{
    display: inline-block;
    vertical-align: top;
}

.vertical-menu {
  margin-top: 60px;		
  
  margin-right: 2em;
  vertical-align: top;
  width: 100px; /* Set a width if you like */
  height: auto;
  display: block;
}

.vertical-menu a {
  background-color: #eee; /* Grey background color */
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 20px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
  background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
  background-color: #4CAF50; /* Add a green color to the "active/current" link */
  color: white;
}



/************/


.row {
    margin-left: 0;
    margin-right: 0;
    position: relative;


}

.col {
	padding-left: 0;
	padding-right: 9000;
}

.col-md-8{
	width: 100%
}


.navbar {
	position: fixed;
	background-color: #8029ab;
}

.navbar .navbar-brand {
	color: #FFF;
}

.navbar .navbar-brand:hover {
	color: #FFF;
}

.navbar .nav-item .nav-link {
	color: #FFF;
	transition: .5s;
}

.navbar .nav-item .nav-link:hover {
	background-color: #FFF;
	color:#29AB87;
}

.card {
	margin: auto;
	border-radius: 0;
}

.card-img-top {
	border-radius: 0;
}

.card .btn-primary {
	background-color: #29AB87;
	border-color: #29AB87;
}

.card .btn-primary:hover {
	background-color: #FFF;
	color: #29AB87;
}

.row .jumbotron {
	background-color: #00A572;
	color: #FFF;
	margin-top: 50px;
}

.card .btn.btn-primary {
	margin: auto;
	display: block;
}


/* Pagination */

.pagination {
    text-align: center;
    font-family: arial;
    margin-top: 100px;
    font-size: 32;
}
.pagination a {
    display: inline-block;
    min-width: 25px;
    color: #2196F3;
    font-size: 15px;
    padding: 10px;
    border: 2px solid #2196F3;
    text-decoration: none;
    transition: 0.4s;
}
.pagination .page-number:hover {
    color: #f44336;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.pagination .active {
    color: #f44336;
}
.pagination .prev {
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}
.pagination .next {
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}
.pagination .prev:hover,
.pagination .next:hover {
    color: #f44336;
}


