{% load static %}
{% load taggit_templatetags2_tags %}
{% load filters %}
<!doctype html>
{% block extrahead %}

<script>window.CKEDITOR_BASEPATH = '/static/ckeditor/';</script>
{{ block.super }}
{% endblock %}
<html lang="en">
  <head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Blog Template">
    <meta name="author" content="Fabio Lima">    
    <!-- <link rel="shortcut icon" href="favicon.ico"> -->
    
    <!-- FontAwesome JS-->
    <script defer src="https://use.fontawesome.com/releases/v5.7.1/js/all.js" integrity="sha384-eVEQC9zshBn0rFj4+TU78eNA19HMNigMviK/PU/FFjLXqa/GKPgX58rvt5Z8PLs7" crossorigin="anonymous"></script>


    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <!-- Math Ajax-->

    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  
    

   <!-- <link id="theme-style" rel="stylesheet" href="{% static 'css/theme.css' %}" >
   -->
    

    
    <link id=theme-style rel="stylesheet" href="{% static 'css/theme.css' %}"> 
    
    
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <a class="navbar-brand" href="{% url 'blog:index' %}">Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/escola">Escola</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="agenda/">Agenda</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="{% url 'blog:contact' %}">Contato</a>
        </li>
        <li>
        <li class="nav-item">
          <a class="nav-link" href="/admin">Login</a>
        </li>
      </ul>
      <form class="form-inline mt-2 mt-md-0" method="GET" action="{% url 'blog:search' %}">
        <input class="form-control mr-sm-2" 
         type="text" placeholder="Search" id="id_q" 
         aria-label="Search" name="q" required value="{{ request.GET.q}}">
        <button class="btn btn-mdb-color btn-rounded btn-sm my-0 ml-sm-2" type="submit">Search</button>
      </form>
                 
    </div>
  </nav>
<!--
  <div class="sidebar-tags">
    <i class="fas fa-tag"></i><b>Tags</b>
    <p>
        {% get_tagcloud as tags %}
        <ul class="list-unstyled list-inline font-weight-bold mt-2">
        {% for tag in tags %}
            <li class="list-inline-item p-1">
                <a class="btn btn-sm btn-secondary" href="{% url 'blog:tag' tag=tag %}">{{ tag }}</a>
            </li>
        {% endfor %}
        </ul>
    </p>
  </div>
-->
  {% include 'blog/menu.html' %}



<!-- Body page -->
</body>


{% block content %}


{% endblock content %}

<!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <i class="fab fa-facebook-f"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <i class="fab fa-twitter"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-gplus mx-1">
          <i class="fab fa-google-plus-g"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <i class="fab fa-linkedin-in"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1">
          <i class="fab fa-dribbble"> </i>
        </a>
      </li>
    </ul>
    <!-- Social buttons -->

  </div>
  <!-- Footer Elements -->

    <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="#"> Fabio Lima</a>
      </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->



    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script id="dsq-count-scr" src="//fabiolima-com-br.disqus.com/count.js" async></script>
   
   
</html>

