{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

 
<h2>Categorias</h2>
     {% if post_list %}
         <ul>
         {% for list in post_list %}
        <li><a href="#">{{ list.category }}<a></li>
         {% endfor %}
         </ul>
     {% else %}
         <p>Não há nenhuma categoria adicionada.</p> 
     {% endif %}


<div class="form-contact">

    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">Contato</h2>
                </br>
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="form-actions">
                        <button type="submit" class="btn btn-success">Enviar</button>
                    </div>
                </form>
                </div>
            </div>

        </div>

   

    </div>
</div>

{% endblock content %}