{% extends "base.html" %}
{% block content %}


{% if post_list %}
<div class="jumbotron" style="width:1700px">
{% for post in post_list %}
  <h1 class="display4">{{ post.title | safe}}</h1>
  <hr class="my-text">
  <p>{{post.content| safe | slice:":600" }}</p>
  <p class=" ">
    <a class="btn btn-primary btn-lg" href="{% url 'post_detail' post.slug  %}" role="button">Learn more</a>
  </p>
{% endfor %}
</div>

{% else %}

<p>Não existem posts para essa categoria.</p>

{% endif %}



{% if is_paginated %}
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}" class="prev"><i class="fa fa-angle-double-left"></i> Prev</a>
      
    {% else %}
      
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <a class="page-number active">{{ i }}</a>
      {% else %}
        <li><a href="?page={{ i }}" class="page-number">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}" class="next">Next <i class="fa fa-angle-double-right"></i></i></a>
         {% else %}
      
    {% endif %}
  </ul>
{% endif %}

  </div>
</div>

{% endblock content%}